{% extends 'vacancies/base.html' %}
{% block content %}
<body>
<main class="container">
    <div class="row">
        <div class="col-8 col-lg-4 offset-2 offset-lg-4">
            <form class="form-signin pt-5" method="post">
                {% csrf_token %}
                {#                {{ form }}#}
                <div class="text-center mt-5 b-1">
                    <h1 class="h3 mb-3 font-weight-normal">Джуманджи</h1>
                    <p class="h5 font-weight-light">Создайте аккаунт</p>
                </div>
                <div class="mt-5 form-label-group">
                    <p class="text-muted">Логин</p>
                    <input type="text" name="username" id="id_username" class="form-control" required autofocus>
                    <label for="id_username"></label>
                </div>
                <div class=" form-label-group">
                    <p class="text-muted">Имя</p>
                    <input type="text" name="first_name" id="id_first_name" class="form-control" required>
                    <label for="id_first_name"></label>
                </div>
                <div class=" form-label-group">
                    <p class="text-muted">Фамилия</p>
                    <input type="text" name="last_name" id="id_last_name" class="form-control" required>
                    <label for="id_last_name"></label>
                </div>
                <div class="form-label-group">
                    <p class="text-muted"> Пароль</p>
                    <input type="password" name="password" id="id_password" class="form-control" required>
                    <label for="id_password"></label>
                </div>
                <div class="checkbox mb-3"></div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Зарегистрироваться</button>
            </form>

            <div class="mt-4 text-center"><p>Есть аккаунт? <a href={% url 'vacancy:login_page' %}>Войдите!</a></p></div>


        </div>
    </div>
</main>
</body>
{% endblock %}